/*
  Many thanks to Ian Zamojc izamojc(at)zamtools.com for making
  suggestions to improve the site look and feel.
*/


/* &equiv; https://www.rapidtables.com/web/html/html-codes.html */

:root {
    --bgcolor: #FFF;
    --max-width-on-wide-screen: 47rem;
    --min-menu-width: 12rem;
    --max-menu-width: 14rem;

    --main-logo-height: 2rem;
    --sponsor-icon-height: calc(var(--main-logo-height) * 0.5);
    --x-logo-height: calc(var(--main-logo-height) * 0.5);
    --logo-in-menu-height: 2.5ex;
}

body {
    background-color: var(--bgcolor);
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    font-size: 100%;

    color: #000;
    padding: 0px;
    counter-reset: example; /* Create an example counter scope */

    /*display: grid;*/

    /*gap: 0rem;*/
    /*grid-template-columns: 1fr;*/
    /*grid-template-areas:*/
    /*    'headerArea'*/
    /*    'contentArea';*/

    /* mobile first */
    margin-left: 1rem;
    margin-right: 1rem;
}

#header, #content {
    max-width: 100%;
}
table {
    width: 100%;
}



/** ================================================= */
@media (min-width: 1000px) {

    :root {
        --main-logo-height: 3rem;
        --sponsor-icon-height: calc(var(--main-logo-height) * 0.7);
        --x-logo-height: calc(var(--main-logo-height) * 0.7);
    }

    body {
        max-width: var(--max-width-on-wide-screen);
        margin-left: auto;
        margin-right: auto;
    }

    div#ad,
    .horizontal-ad {
        max-height: calc(var(--main-logo-height) * 2);
    }

    #header, #content {
        max-width: var(--max-width-on-wide-screen);
    }
}

/** =================================================== */
img.logo {
    height: var(--main-logo-height);
}

img.sponsorIcon {
    height: var(--sponsor-icon-height);
}

pre, div.bodyTable {
    overflow: auto;
    overflow-wrap: normal;
}
.example, pre > code {
    /*word-break: normal;*/
    white-space: pre;
    overflow: auto;
    min-height: 2ex;
    /*overflow-wrap: normal; !* synonymous to word-wrap *!*!*/
    /*white-space: pre;*/
}
p.example {
    white-space: pre-wrap;
    overflow-wrap: normal;
    min-height: 2ex;
    overflow: visible;
}
img.reduced,
img.data {
    max-width: 100%;
    min-width: 300px;
    height: auto;

    /*max-width: calc(var(--max-width-on-wide-screen) * 0.75);*/
}

.twitter-logo{
    height: var(--x-logo-height);
}
.github-logo {
    height: var(--logo-in-menu-height);
}

/*-----------------------------------------*/

#header {
    /*grid-area: headerArea;*/
}

#header-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        'logo-menu-area   icons-area'
        'header-line-area header-line-area'
        'ad-area          ad-area';
}


#header-grid-logo-item {
    grid-area: logo-menu-area;
    /*  ensure that arrow and log stay together */
    /* min-width: 18rem; */
    /* left align */
    justify-self: left;
    /* ensure that log clamps to the baseline */
    align-self: end;
}

#header-grid-icons-item {
    grid-area: icons-area;
    justify-self: right;
    align-self: end;
}

#header-grid-line-item {
    grid-area: header-line-area;
}

div#ad {
    grid-area: ad-area;
    margin: 0.5rem;
}

div#ad,
.horizontal-ad {
    max-height: calc(var(--main-logo-height) * 2);
}

div#sponsor {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    max-width: 10rem;

    border-color: #F00;
    margin: 0px;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0px;
}

p.sponsoredBy {
    padding: 2px;
    margin: 0px;
    font-weight: normal;
    color: #564b47;
    background-color: #ffd0a0;
    border-top: solid 1px #CCCCCC;
    border-bottom: solid 1px #CCCCCC;
}
div.spotify {
    background-color: #FFEEDD;
}
img.spotify {
    max-height: calc(var(--main-logo-height));
}

img.exoscale {
    max-height: calc(var(--main-logo-height) * 0.8);
}

#content {
    /*grid-area: contentArea;*/
}

div#top-content {
    display: grid;
    gap: 1rem;

    grid-template-columns: auto auto;
    grid-template-areas:
        'top-content-creative-commons top-content-right'
        'top-content-quote            top-content-quote';
}

#manualIndex {
    min-width: var(--min-menu-width);
    max-width: var(--max-menu-width);
}

div#top-content > #manualIndex {
    grid-area: top-content-right;
    color: #564b47;
    margin: 1rem;
    padding: 0px;
    background-color: #ffffff;
}


#quote {
    grid-area: top-content-quote;
    text-align: right;
}

div#creative-commons {
    grid-area: top-content-creative-commons;
}

.footer {
    color: #564b47;
    background-color: #fff;
    padding: 0px;
    border-top: 1px solid #CCCCCC;
    margin-top: 3ex;
    Xfont-size: smaller;
}


p.menu {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.headerline {
    background-color: #FFD0A0;
    border: 1px solid #CCCCCC;
    margin: 0px;
    padding-top: 4px;
}

a {
    color: #4183c4;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #26b;
}

.menuGroup {
    border: 1px solid #cccccc;
    background-color: #fff8e8;
    color: #564b47;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

#left a, #right a {
    display: block;
    margin: 0px;
    padding: 2px;
    color: #0066cc;
    text-decoration: none;
}

p.menu_header {
    margin: 0px;
    padding: 2px;
    font-weight: normal;
    background-color: #ffd0a0;
    border-top: solid 1px #CCCCCC;
    border-bottom: solid 1px #CCCCCC;
}

/* ------------------------------------------- */


#content img {
    border: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

span.canonical {
    background: #fff;
    color: #0079C5;
    font-family: "Comic Sans MS", sans-serif;
    white-space: nowrap;

    border-top: 2px solid #DDD;
    border-left: 2px solid #DDD;
    border-right: 2px solid #888;
    border-bottom: 2px solid #888;
    padding: 0px 1em 0px 1rem;
    margin: -4px 4px 0 4px;
    float: top;
}

span.canonical:hover {
    background: #E0E0EF;
    cursor: pointer;
}

/* ------------------------------------ */


h1, h2, h3, h4 {
    color: #505050;
    padding-top: 0ex;
    background-color: transparent;
}

h2 {
    font-weight: 900;
    font-size: x-large;
}

h3 {
    font-weight: bold;
    font-size: large;
}

h4 {
    font-weight: bold;
    font-size: medium;
}

h1 .anchor:before,
h2 .anchor:before,
h3 .anchor:before,
h4 .anchor:before,
td .anchor:before {
    content: "\01f517";
    display: inline-block;
    margin-right: 1ex;
}

div.source {
    margin-top: 1rem;
}

div.license {
    margin-top: 2rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-right:  1rem;
    padding-bottom: 0.5rem;
    background: #f5f5f5;
}
.source, .command, .console {
    white-space: pre;
    overflow-x: auto;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background: #f5f5f5;
    font-family: Courier, "MS Courier New", Prestige, monospace;
    padding-left: 1rem;
}

.source {
    padding-bottom: 0.5ex;
    padding-top: 0.5ex;
}

.command {
    padding-bottom: 0ex;
    padding-top: 0ex;
}

.alignright {
    margin-top: 0;
    text-align: right;
}


/* ========== body table ============ */
table.bodyTable {

    padding: 0px;
    margin-left: -2px;
    margin-right: -2px;
}

table.bodyTable th {
    color: white;
    background-color: #bbb;
    font-weight: bold;
}


table.bodyTable td {
    vertical-align: text-top;
    padding-left: 0.5ex;
    padding-bottom: 0.5ex;
}

table.bodyTable.rightAlign tr td {
    text-align: right;
}

/* apply to tr elements of tables which are both bodytable and dark */
table.bodyTable[class="dark"] tr {
    background-color: #ddd;
}

/* table.bodyTable tr.a { 	background-color: #ddd; } */
/* table.bodyTable tr.b {	background-color: #eee; } */
/* table.bodyTable tr.alt {	background-color: #eee;} */

/* we don't want the first p under td to appear indented */
table.bodyTable tr td p:first-child {
    padding-top: 0px;
    margin-top: 0px;
}

.striped tr:nth-child(odd) td {
    background-color: #f9f9f9;
}

.striped td {
    background-color: #f0f0f0;
}

.striped tr:last-child td {
    border-bottom: 2px solid #ddd;
}

td.word {
    text-align: right;
}

/* EOF =============== bodyTable =============== */

/* cosmetics */


.big {
    font-size: 130%;
}


.green {
    color: green;
}

.white_bg {
    background-color: #FFFFFF;
}

.lgray_bg {
    background-color: #EEE;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.redBold {
    color: red;
    font-weight: bold;
}

.greenBold {
    color: green;
    font-weight: bold;
}

code, .code, .pattern {
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}

code, .code {
    background-color: #EEE;
}


.pattern {
    background-color: #DDD;
}


.variable, .attr {
    font-family: Courier, monospace;
    font-style: italic;
}


.option, .prop {
    border-top: 1px dotted #BBBBBB;
    border-bottom: 1px dotted #BBBBBB;
    border-left: 1px dotted #AAAAAA;
    border-right: 1px dotted #AAAAAA;
    padding-left: 2px;
    padding-right: 2px;
    font-family: Arial, sans-serif;
}

/*  background:#FFCC99;	*/
.highlight {
    max-width: 50%;
    float: right;
    display: inline;
    xfont-size: 110%;

    border: 2px solid #711;
    border-radius: 4px;
    background: #FFE0B0;
    padding-top: 1ex;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1ex;
    margin-left: 1rem;
    margin-right: 0rem;
    margin-bottom: 1ex;
}


/* --------- numbering --------- */
.autoEx:before {
    counter-increment: example; /* Add 1 to example */
    content: counter(example)
}


/** ----------- labels -------- */
.label {
    padding: 1px 3px 2px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #bfbfbf;
    border-radius: 3px;
}

.label.notice {
    background-color: #62cffc;
}


/* from common.css */

/* used in example headers */
.example {
    font-style: italic;
}

/* for highligting breaking changes */
div.breaking {
    border: 1px solid #F44;
    background-color: #FED;
    padding-left: 1ex;
    padding-right: 1ex;
}

table.footer {
    width: 100%;
}

.footer {
    color: #564b47;
    background-color: #fff;
    padding: 0px;
    border-top: 1px solid #CCCCCC;
    margin-top: 3ex;
    font-size: smaller;
}


p.menu {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.small {
    font-size: smaller;
}

.strong, .bold {
    font-weight: bold;
}


.author {
    text-align: left;
    font-weight: bold;
}

.definition {
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px 50px 5px 50px;
    text-align: justify;
    background-color: #E6E64C;
}

.deftitle {
    font-weight: bold;
}


/* tab BEGIN ================================= */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* tab END ================================ */


